.body{
    background-image: linear-gradient(to right, rgb(190, 35, 211), rgb(179, 24, 24));
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: justify;
}

.login{
    color: antiquewhite;
    text-align: center;
    font-size: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   

    background-color: rgba(0,0,0,0.7);
    padding: 1px 50px 1px 50px;
    border-radius: 25px;
    display: grid;
}

input{
    padding: 15px;
    border-radius: 10px;
}

button{
    background-color: rgb(55, 55, 255);
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    outline: none;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: lightblue;
    color: black;
}
